%% -----------------------------------------------------------------------
%%
%% Copyright (c) <2011> <University of Paderborn>
%% Permission is hereby granted, free of charge, to any person
%% obtaining a copy of this software and associated documentation
%% files (the "Software"), to deal in the Software without restriction,
%% including without limitation the rights to use, copy, modify and
%% merge the Software, subject to the following conditions:
%%
%% 1.) The Software is used for non-commercial research and
%%     education purposes.
%%
%% 2.) The above copyright notice and this permission notice shall be
%%     included in all copies or substantial portions of the Software.
%%
%% 3.) Publication, Distribution, Sublicensing, and/or Selling of
%%     copies or parts of the Software requires special agreements
%%     with the University of Paderborn and is in general not permitted.
%%
%% 4.) Modifications or contributions to the software must be
%%     published under this license. The University of Paderborn
%%     is granted the non-exclusive right to publish modifications
%%     or contributions in future versions of the Software free of charge.
%%
%% THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
%% EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
%% OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
%% NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
%% HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
%% WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
%% FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
%% OTHER DEALINGS IN THE SOFTWARE.
%%
%% Persons using the Software are encouraged to notify the
%% Department of Communications Engineering at the University of Paderborn
%% about bugs via <spark@nt.uni-paderborn.de>. Please reference Spark
%% in your publications if it was used for them.
%%
%% -----------------------------------------------------------------------

[MACRO]
  CHANNELSSOUNDCARD: 6
  FRAMESIZE: 128
  FFTSIZE: 1024
  FFTSIZEGCC: 8192
[/MACRO]

[TASK]
  [KERNEL]
    TaskType:   Realtime 
    Scheduler: MultiCore
    FloatingPointHandlerReg: On
  [/KERNEL]
  [INPUT]
    PipeIn0: { Nix }
    PipeIn1: { Nix }
  [/INPUT]
  [OUTPUT]
    StereoAudioServer: ..
    RouterSRO: ..
  [/OUTPUT]
  [LOGGER]
    SPARK: { FileLogger, WARN }
    DEFAULT: { DefaultLogger, WARN }
    Read1: { DefaultLogger, WARN }
  [/LOGGER]  
 
  [MODULES]
  
     [M]     
      Name:      PipeIn0
      Type:      asn/Pipe
      BytesPerFrame: <eval=4*CHANNELSSOUNDCARD*FRAMESIZE>
      InputModuleMode: true
      OutputModuleMode: false
      Inputs: { <eval=PIPEIN0> }
      Outputs: { "NIXX" }
    [/M]
    
    [M]     
      Name:      PipeIn1
      Type:      asn/Pipe
      BytesPerFrame: <eval=4*CHANNELSSOUNDCARD*FRAMESIZE>
      InputModuleMode: true
      OutputModuleMode: false
      Inputs: { <eval=PIPEIN1> }
      Outputs: { "NIXX" }
    [/M]
    
    [M]
      Name: STFTResample0
      Type: asn/stftresample
      Channels: 1
      FrameSize: { <eval=FRAMESIZE> }
      FFTSize: { <eval=FFTSIZE> }
      SRO: { 100 }
      UseSROInput: false
    [/M] 
    
     [M]
      Name: STFTResample1
      Type: asn/stftresample
      Channels: 1
      FrameSize: { <eval=FRAMESIZE> }
      FFTSize: { <eval=FFTSIZE> }
      SRO: { 0 }
      UseSROInput: false
    [/M] 
    
    [M]
      Name: GCC
      Type: asn/gccphat
      Channels: 2
      FrameSize: { <eval=FRAMESIZE> }
      FFTSize: { <eval=FFTSIZEGCC> }
    [/M] 
    
    [M]
      Name: ResampleControl
      Type: asn/ResampleControl
      Channels: <eval=2>
      UseFeedbackControl: false
      AverageMemLength: 256
    [/M] 
    
    
    [M]   
      Name:      SingleChannelExtract0
      Type:      basic/Router2      
      FrameSize: <eval=FRAMESIZE>
      InputChannels:  { <eval=CHANNELSSOUNDCARD> }
      OutputChannels: { 1 }
      Mapping:        { 0 }
      [/M]
      
    [M]   
      Name:      SingleChannelExtract1
      Type:      basic/Router2      
      FrameSize: <eval=FRAMESIZE>
      InputChannels:  { <eval=CHANNELSSOUNDCARD> }
      OutputChannels: { 1 }
      Mapping:        { 0 }
      [/M]
      
     [M]   
      Name:      StereoDataCombine
      Type:      basic/Router2      
      FrameSize: <eval=FRAMESIZE>
      InputChannels:  { 1, 1 }
      OutputChannels: { 2 }
      Mapping:        { 0, 1 }
      [/M] 
      
   [M]
      Name:  StereoAudioServer
      Type:  basic/RemoteLinkOutput
      FrameSizes: {<eval=4*2*FRAMESIZE>}
%%       NoClientBehavior: Wait
%%       SyncStrategy: BLOCK_INPUT
      QueueSize: <eval=100>
    [/M]
    
    [M]
        Name:       Token
        Type:       basic/GenerateToken
        FrameSize:  <eval=2*4>
    [/M]
    
     [M]
      Name:            RouterSRO
      Type:            basic/Router2
      FrameSize:       <eval=1>
      InputChannels:   { 2 }
      OutputChannels:  { 1, 1 }
      Mapping:         { 0, 1 }
    [/M]
      
  [/MODULES]

  [CONNECTIONS]

    PipeIn0[0] -> SingleChannelExtract0[0]
    SingleChannelExtract0[0] -> STFTResample0[0]
    
    PipeIn1[0] -> SingleChannelExtract1[0]
    SingleChannelExtract1[0] -> STFTResample1[0]

    STFTResample0[0] -> StereoDataCombine[0]
    STFTResample1[0] -> StereoDataCombine[1]
    StereoDataCombine[0] -> StereoAudioServer[0]
    StereoDataCombine[0] -> GCC[0]
    GCC[0] -> ResampleControl[0]
    
    ResampleControl[0] -> Token[0]
    Token[0] -> RouterSRO[0]
   %% RouterSRO[0] -> STFTResample0[1]
   %% RouterSRO[1] -> STFTResample1[1]
    
  [/CONNECTIONS]

[/TASK]
