%% -----------------------------------------------------------------------
%%
%% Copyright (c) <2011> <University of Paderborn>
%% Permission is hereby granted, free of charge, to any person
%% obtaining a copy of this software and associated documentation
%% files (the "Software"), to deal in the Software without restriction,
%% including without limitation the rights to use, copy, modify and
%% merge the Software, subject to the following conditions:
%%
%% 1.) The Software is used for non-commercial research and
%%     education purposes.
%%
%% 2.) The above copyright notice and this permission notice shall be
%%     included in all copies or substantial portions of the Software.
%%
%% 3.) Publication, Distribution, Sublicensing, and/or Selling of
%%     copies or parts of the Software requires special agreements
%%     with the University of Paderborn and is in general not permitted.
%%
%% 4.) Modifications or contributions to the software must be
%%     published under this license. The University of Paderborn
%%     is granted the non-exclusive right to publish modifications
%%     or contributions in future versions of the Software free of charge.
%%
%% THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
%% EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
%% OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
%% NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
%% HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
%% WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
%% FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
%% OTHER DEALINGS IN THE SOFTWARE.
%%
%% Persons using the Software are encouraged to notify the
%% Department of Communications Engineering at the University of Paderborn
%% about bugs via <spark@nt.uni-paderborn.de>. Please reference Spark
%% in your publications if it was used for them.
%%
%% -----------------------------------------------------------------------

[MACRO]

  MICCHANNELSSOUNDCARD: 1
  SMARTPHONECHANNELS: 4
  FRAMESIZE: 128
  SAMPLERATE: 16000
  SERVERPORT: 8200

[/MACRO]

[TASK]
  [KERNEL]
    TaskType:   Realtime 
    Scheduler: MultiCore
    FloatingPointHandlerReg: On
  [/KERNEL]
  [INPUT]
    PipeIn: { Nix }
  [/INPUT]
  [OUTPUT]
    PipeOut: ..
  [/OUTPUT]
  [LOGGER]
    SPARK: { FileLogger, WARN }
    DEFAULT: { DefaultLogger, WARN }
    Read1: { DefaultLogger, WARN }
  [/LOGGER]  
 
  [MODULES]
  
     [M]     
      Name:      PipeIn
      Type:      asn/Pipe
      BytesPerFrame: <eval=4*MICCHANNELSSOUNDCARD*FRAMESIZE>
      InputModuleMode: true
      OutputModuleMode: false
      Inputs: { <eval=PIPEIN0> }
      Outputs: { "NIXX" }
    [/M]
      
    [M]     
      Name:      PipeOut
      Type:      asn/Pipe
      BytesPerFrame: <eval=4*FRAMESIZE*(MICCHANNELSSOUNDCARD+SMARTPHONECHANNELS)>
      InputModuleMode: false
      OutputModuleMode: true
      Inputs: { "NIXX" }
      Outputs: { <eval=PIPEOUT0> }
    [/M]
      
      
      [M]   
      Name:      SmarthoneHub
      Type:      networksoundcard/smarthub
      SmartphoneChannels:  <eval=SMARTPHONECHANNELS> 
      InputChannels: <eval=MICCHANNELSSOUNDCARD>
      FrameSize:  <eval=FRAMESIZE> 
      Port:  <eval=SERVERPORT> 
      [/M]
      
      [M]   
      Name:      DataCombine
      Type:      basic/Router2      
      FrameSize: <eval=FRAMESIZE> 
      InputChannels:  { <eval=MICCHANNELSSOUNDCARD> , <eval=SMARTPHONECHANNELS> }
      OutputChannels: { <eval=MICCHANNELSSOUNDCARD+SMARTPHONECHANNELS> }
      Mapping:        { 0, 1, 2, 3, 4 }
      [/M] 
      
      [M]     
      Name:      AGC
      Type:      asn/AutomaticGainControl
      FrameSize: <eval=FRAMESIZE>
      Channels: <eval=MICCHANNELSSOUNDCARD+SMARTPHONECHANNELS>
      TargetNoiseAmplitude: 0.1
      [/M]

      
  [/MODULES]

  [CONNECTIONS]

    PipeIn[0] -> SmarthoneHub[0] 
    SmarthoneHub[0] -> DataCombine[0]
    SmarthoneHub[1] -> DataCombine[1]
    DataCombine[0] -> AGC[0]
    AGC[0] -> PipeOut[0]
  [/CONNECTIONS]

[/TASK]
