[Unit]
Description=ASN_Daemon
After=multi-user.target
 
[Service]
Type=simple
WorkingDirectory=/home/$USER/asn_daemon
ExecStart=/usr/bin/python /home/$USER/asn_daemon/daemon.py
TimeoutStopSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target
