%% -----------------------------------------------------------------------
%%
%% Copyright (c) <2011> <University of Paderborn>
%% Permission is hereby granted, free of charge, to any person
%% obtaining a copy of this software and associated documentation
%% files (the "Software"), to deal in the Software without restriction,
%% including without limitation the rights to use, copy, modify and
%% merge the Software, subject to the following conditions:
%%
%% 1.) The Software is used for non-commercial research and
%%     education purposes.
%%
%% 2.) The above copyright notice and this permission notice shall be
%%     included in all copies or substantial portions of the Software.
%%
%% 3.) Publication, Distribution, Sublicensing, and/or Selling of
%%     copies or parts of the Software requires special agreements
%%     with the University of Paderborn and is in general not permitted.
%%
%% 4.) Modifications or contributions to the software must be
%%     published under this license. The University of Paderborn
%%     is granted the non-exclusive right to publish modifications
%%     or contributions in future versions of the Software free of charge.
%%
%% THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
%% EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
%% OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
%% NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
%% HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
%% WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
%% FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
%% OTHER DEALINGS IN THE SOFTWARE.
%%
%% Persons using the Software are encouraged to notify the
%% Department of Communications Engineering at the University of Paderborn
%% about bugs via <spark@nt.uni-paderborn.de>. Please reference Spark
%% in your publications if it was used for them.
%%
%% -----------------------------------------------------------------------
[MACRO]
  DIARYDATASIZE:  6
  SIZEOFFLOAT: 4
[/MACRO]
[TASK]
  [KERNEL]
    TaskType: Realtime
    Scheduler:MultiCore
  [/KERNEL]

  [INPUT]
    Client: ...
  [/INPUT]

  [OUTPUT]
     Console: ...
     WriteDiaryData:       { "Diary.float32" }
  [/OUTPUT]
  [LOGGER]
    DEFAULT: { ConsoleLogger, INFO }
  [/LOGGER]
  [MODULES]
    [M]
      Name:  Client
      Type:  basic/RemoteLinkClient
      FrameSizes: { <eval=DIARYDATASIZE*2*SIZEOFFLOAT> }
      ServerIP: "10.0.1.1"
      Port: 8000
    [/M]
    [M]
      Name:            Console
      Type:            basic/Print2Console
      FrameSize:       <eval=DIARYDATASIZE*2>
      ImmediatePrint:  true
    [/M]
    [M]     
      Name:      WriteDiaryData
      Type:      basic/WriteFile
      FrameSize: <eval=DIARYDATASIZE*2>
      FileType:  RAW
      FileDataType: FLOAT
      ForceSyncWrite: true
     [/M]   
  [/MODULES]

  [CONNECTIONS]
    Client[0] -> WriteDiaryData
    Client[0] -> Console
  [/CONNECTIONS]
[/TASK] 
