%% -----------------------------------------------------------------------
%%
%% Copyright (c) <2011> <University of Paderborn>
%% Permission is hereby granted, free of charge, to any person
%% obtaining a copy of this software and associated documentation
%% files (the "Software"), to deal in the Software without restriction,
%% including without limitation the rights to use, copy, modify and
%% merge the Software, subject to the following conditions:
%%
%% 1.) The Software is used for non-commercial research and
%%     education purposes.
%%
%% 2.) The above copyright notice and this permission notice shall be
%%     included in all copies or substantial portions of the Software.
%%
%% 3.) Publication, Distribution, Sublicensing, and/or Selling of
%%     copies or parts of the Software requires special agreements
%%     with the University of Paderborn and is in general not permitted.
%%
%% 4.) Modifications or contributions to the software must be
%%     published under this license. The University of Paderborn
%%     is granted the non-exclusive right to publish modifications
%%     or contributions in future versions of the Software free of charge.
%%
%% THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
%% EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
%% OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
%% NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
%% HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
%% WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
%% FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
%% OTHER DEALINGS IN THE SOFTWARE.
%%
%% Persons using the Software are encouraged to notify the
%% Department of Communications Engineering at the University of Paderborn
%% about bugs via <spark@nt.uni-paderborn.de>. Please reference Spark
%% in your publications if it was used for them.
%%
%% -----------------------------------------------------------------------

[MACRO]
  NTBB1: ntbb1
  NTBB3: ntbb3
  SAMPLERATE: 16000
  CHANNELSSOUNDCARD:   6
  CHANNELS:   6
  FRAMESIZE:  128
  SAMPLERATEOFFSETPPB: 0
  INSTANCENAME1: ddnalsa4
  INSTANCENAME2: ddnalsa5
  XMLPATH_FILE: { <str=extractfilepath(CONFIGURATION_FILE)+"Config.xml"> }
	BEAM_OUT_AUDIO_S:	512
	BEAM_OUT_META_S:	 16
	BEAM_OUT_META_VAD:	512

  FFTSIZE:    2048
  FFTHALV:    <eval=(FFTSIZE/2)>
  FDSIZE:     <eval=(FFTSIZE+2)>
  FDSIZE2:    <eval=(FDSIZE+2)/2>
  MAXBIN:     <eval=FFTSIZE/2+1>
  DD_SMOOTH:    0.92
  NOISE_SMOOTH: 0.6
  HISTLENGTH:   500
  
  DOA_FRAMESIZE:             1024
  DOA_N_MICS:                2
  DOA_N_TDOAMATRIX_ELEMENTS: <eval=DOA_N_MICS*DOA_N_MICS>
  DOA_FASTTDOA_OUTPUTSIZE:   <eval=DOA_FRAMESIZE*DOA_N_TDOAMATRIX_ELEMENTS>
  DOA_SAMPLERATE:          16000.0
  DOA_WAVEPROPAGATIONSPEED:  343.0
  DOA_MICSPACING:            0.048
  FILTERLENGTH: 2048
  SRPFRAMEFACTOR: 32
  MICARRAYS: 2
  CHANNELSPERARRAY: 4
  ANGLESPERTWOPI: 8
  DIARYDATASIZE: 6
  SRPPHATFFTSIZE: 8192
  
  ACTIVITYDIARYSIZE: <eval=MICARRAYS+3 >
[/MACRO]

[TASK]
  [KERNEL]
    TaskType:   Realtime 
    Scheduler: MultiCore
    FloatingPointHandlerReg: On
  [/KERNEL]
  [INPUT]
    Client: { Nix }
  [/INPUT]
  [OUTPUT]
    DiaryImage: ...
  [/OUTPUT]
  [LOGGER]
    SPARK: { FileLogger, WARN }
    DEFAULT: { DefaultLogger, WARN }
    Read1: { DefaultLogger, WARN }
  [/LOGGER]  
 
  [MODULES]
  
   [M]
      Name:  Client
      Type:  basic/RemoteLinkClient
      FrameSizes: { <eval=4*CHANNELSSOUNDCARD*FRAMESIZE> }
      %% ServerIP: "10.0.1.2"
      ServerIP: "131.234.222.122"
      Port: 8000
    [/M]
    
     [M]
      Name: VAD
      Type: ambicom/VAD
      FrameSize: <eval=FRAMESIZE*SRPFRAMEFACTOR>
      Channels: <eval=CHANNELSSOUNDCARD>
      SampleRate: 16000
      ACTIVITY_SHORT_TIME: 0.064
      ACTIVITY_LONG_TIME: 1.024
      ACTIVITY_BUF_TIME: 51.2
      ACTIVITY_POW_ABS_MIN: 0.02
      ACTIVITY_TIME_CONST_UP_SPEECH: 0.03
      ACTIVITY_TIME_CONST_DN_SPEECH: 0.03
      ACTIVITY_TIME_CONST_UP_NOISE: 0.03
      ACTIVITY_TIME_CONST_DN_NOISE: 0.01
      ACTIVITY_POW_ABS_MAX: 10.0
      ACTIVITY_THRESHOLD_SPEECH: 12
      ACTIVITY_THRESHOLD_NOISE: 8.0
      MeanSpeech: 0.2
      VarianceSpeech: 0.03
      MeanNoise: 0.006
      VarianceNoise: 0.003
      [/M]
   
      [M]   
      Name:      ReFrameSRP
      Type:      basic/Reframing      
      InFrameSize: <eval=FRAMESIZE*CHANNELSSOUNDCARD*4>
      OutFrameSize: { <eval=FRAMESIZE*4*CHANNELSSOUNDCARD*SRPFRAMEFACTOR> }
      [/M]
      
      [M]
      Name: SRP
      Type: asn/SRPPhat
      Channels: <eval=CHANNELSSOUNDCARD>
      FrameSize: { <eval=FRAMESIZE*SRPFRAMEFACTOR> }
      FFTSize: { <eval=SRPPHATFFTSIZE> } 
      NumAngles: { <eval=ANGLESPERTWOPI> } 
      [/M]  
      
      
      [M]   
      Name:      Combine
      Type:      basic/Router2      
      FrameSize: 1
      InputChannels:  { 1, 1, 1, 3 }
      OutputChannels: { 12 }
      Mapping:        { 0, 1, 2, 3 , 4, 5, 0, 1, 2, 3 , 4, 5 }
      [/M] 
    
    

    [M]   
      Name:      DiaryDataSplitter
      Type:      basic/Router2      
      FrameSize: 1
      InputChannels:  { 12 }
      OutputChannels: { 2, 2, 6, 1, 3 }
      Mapping:        { 0, 6, 2, 8, 3, 4, 5, 9, 10, 11, 0, 3, 4, 5 }
    [/M]
    
    
      [M]     
      Name:      Diary
      Type:      asn/Diarization
      NumAngles:  { <eval=ANGLESPERTWOPI> } 
      NumArrays:  { <eval=MICARRAYS> }
      ActivityOutSize: { <eval=ACTIVITYDIARYSIZE> }
      UseCloseTalkMic: true
      [/M]
      
      [M]
      Name: Hist2
      Type: gtkplot2/History
      InputFrameSize:  <eval=ACTIVITYDIARYSIZE>
      OutputFrameSize: <eval=HISTLENGTH*ACTIVITYDIARYSIZE>
      Channels: 1
      [/M]
     [M]
       Name:            Transpose2
       Type:            basic/Math
       InputFrameSize:  <eval=HISTLENGTH*ACTIVITYDIARYSIZE>
       OutputFrameSize: <eval=HISTLENGTH*ACTIVITYDIARYSIZE>
       ProcessData:     <str="out0=reshape(in0, " + ACTIVITYDIARYSIZE + ", " + HISTLENGTH + ")';">
     [/M]     

      
      
     [M]
      Name: DiaryImage
      Type: gtkplot2/ScaledImage
      Width: <eval=HISTLENGTH>
      Height: <eval=ACTIVITYDIARYSIZE>
      ColormapResolution: 128
      %%CloseAtTheEnd:    false
      Queue:              DISCARD
      [/M]
      
      
   
    
      
  [/MODULES]

  [CONNECTIONS]
  
    Client[0] -> ReFrameSRP[0] 
    ReFrameSRP[0] -> VAD[0]
    VAD[0] -> Combine[0]
    ReFrameSRP[0] -> SRP[0]
    SRP[0] -> Combine[1] 
    SRP[1] -> Combine[2] 
    VAD[2] -> Combine[3]
    Combine[0] -> DiaryDataSplitter[0]
    
    DiaryDataSplitter[0] -> Diary[0]
    DiaryDataSplitter[1] -> Diary[1]
    DiaryDataSplitter[2] -> Diary[2]
    DiaryDataSplitter[3] -> Diary[3]
    DiaryDataSplitter[4] -> Diary[4]
    
    Diary[0] -> Hist2[0]
    Hist2[0] -> Transpose2[0] 
    Transpose2[0] -> DiaryImage[0]
    
   
  [/CONNECTIONS]

[/TASK]